{[{ define "sso/reset-password" }]}
{[{ template "sso/header" }]}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="token" value="{[{ .token }]}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password_verify" required lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="login">登录</button>
        </div>
    </div>
</form>

<script src="/static/library/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(login)', function(data){
            if (data.field.password !== data.field.password_verify) {
                layer.msg('两次输入密码不匹配');
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/api/v1/users/reset-password",

            })

            return false;
        });
    });
</script>
{[{ template "sso/footer" }]}
{[{ end }]}