{[{ define "user" }]}
<script type="text/html" id="userContainer">
    <div class="userSearch">
        ID：
        <div class="layui-inline">
            <input class="layui-input" id="userId" autocomplete="off">
        </div>
        邮箱：
        <div class="layui-inline">
            <input class="layui-input" id="userEmail" autocomplete="off">
        </div>
        <button class="layui-btn layui-bg-blue search-btn" data-type="reload">搜索</button>
        <button class="layui-btn layui-bg-green" data-type="reload">新增</button>
    </div>
    <table id="userTable" lay-filter="userTable"></table>
</script>

<script type="text/html" id="userTableTool">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {{# if(d.status === 1) {
    var c = 'layui-bg-red'; var text = '禁用';
    } else {
    var c = 'layui-bg-green'; var text = '启用';
    } }}
    <a class="layui-btn {{ c }} layui-btn-xs" lay-event="del">{{ text }}</a>
</script>
{[{ end }]}