{[{ define "user" }]}
<script type="text/html" id="userContainer">
    <div class="search">
        ID：
        <div class="layui-inline">
            <input class="layui-input" id="userId" autocomplete="off">
        </div>
        邮箱：
        <div class="layui-inline">
            <input class="layui-input" id="userEmail" autocomplete="off">
        </div>
        <button class="layui-btn layui-bg-blue search-btn" data-type="reload">搜索</button>
        <button class="layui-btn create-btn">新增</button>
    </div>
    <table id="userTable" lay-filter="userTable"></table>
</script>

<script type="text/html" id="userCreate">
    <form class="layui-form layui-form-pane" action="" style="padding:25px 50px;" lay-filter="userUpdate">
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="email" name="email" required lay-verify="required" placeholder="user@mail.com" autocomplete="off"
                       class="layui-input" style="width:400px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realname" required lay-verify="required" placeholder="真实姓名"
                       autocomplete="off" class="layui-input" style="width:400px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" required lay-verify="required" placeholder="联系电话"
                       autocomplete="off" class="layui-input" style="width:400px;">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" disabled>
                <button class="layui-btn" lay-submit="" lay-filter="userSubmit">立即提交</button>
            </div>
        </div>
    </form>
</script>
{[{ end }]}